<!-- Home Page Navigation-->
<div class="before_menu__bar">
    <nav>
        <a href="/" class="logo-link">
            <img src="../../static/img/logo.png" alt="NeighbourlyNest" class="logo">
        </a>
        <ul class="before_nav-links">
            <li><a href="/aboutUs">About Us</a></li>
            <li><a href="/mission">Our Mission</a></li>
            <li><a href="/feedbackb4">Feedback</a></li>
        </ul>
        
        <div class="before_user-section">
            <a href="/login">
                <span class="material-symbols-outlined" id="account_circle">
                    account_circle
                </span>
             
                <span class="sign-in">Sign In</span>
            </a>
        </div>
    </nav>
</div>
