<!-- Footer-->
<div class="footer-container">
    <div class="footer">
            <p>Keep In Touch</p>
            <div class="form">
                <form action="" class="form-newsletter">
                    <div class="newsletter">
                        <input type="text" placeholder="Email" class="input">
                        <button class="btn" type="submit">Subscribe</button>
                    </div>
                </form>
            </div>
            <div class="social-container">
                <div class="left-ctn">
                    <p>Download NeighbourlyNest App</p>
                    <div class="social-links">
                    <a href="#"><img src="../../static/img/app-store.png" width="30px"></a>
                    <a href="#"><img src="../../static/img/Google Play.png" width="30px"></a>
                    </div>
                </div>
                <div class="right-ctn">
                    <p>Follow Us On</p>
                    <div class="social-links">
                        <a href="#"><img src="../../static/img/instagram.png" width="30px"></a>
                        <a href="#"><img src="../../static/img/facebook.png" width="30px"></a>
                        <a href="#"><img src="../../static/img/linkedin.png" width="30px"></a>
                    </div>
                </div>
            </div>
            <p id="copyright" style="font-size: 1.1rem;">@2025 by NeighbourlyNest</p>
    </div>
</div>