{% extends "before_base.html" %}
{% block title %}Confirm Payment{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='payment.css') }}">
{% endblock %}

{% block content %}
<h2 class="paymentHeader">Confirm Your Payment</h2>
<div class="paymentTotal">
    <img src="\static\img\logo.png">
    <span>NeighbourlyNest - Donation</span><br><br>
    
    {% if donate_amount == 'other' %}
    <p class="paymentAmount"><span class="donation-amount-text"> {{ other_amount_value }} SGD</span> donation</p>
    {% else %}
    <p class="paymentAmount"><span class="donation-amount-text"> {{ donate_amount }} SGD</span> donation</p>
    {% endif %}
    
    <form action="{{ url_for('payment') }}" method="POST">
        <div class="card-details">
            <label class="card-number">Card Number</label>
            <label class="card-expiry">Expiry Date</label>
            <label class="card-cvv">CVV</label><br>
            <input type="number" name="card-number" class="card-number-input" placeholder="0000 0000 0000 0000" required="required">
            <input type="text" name="card-expiry" class="card-expiry-input" placeholder="MM/YY" required="required">
            <input type="number" name="card-cvv" class="card-cvv-input" placeholder="123" required="required">
        </div>
        <input type="submit" value="Make Payment" class="payment-submit">
    </form>
</div>


{% endblock %}